@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  .fade-in {
    animation: fadeIn 0.3s ease-out;
  }
  
  .spinner {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: 
    radial-gradient(circle, rgba(71, 75, 255, 0.6) 10%, transparent 50%) center/200% 200% no-repeat,
    conic-gradient(from 0deg, #474bff, #8a2be2, #ff00ff, #474bff);  
    animation: spinner-c7wet2 1s infinite linear;
 }
 
 @keyframes spinner-c7wet2 {
    100% {
       transform: rotate(1turn);
    }
 }