@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    font-family: "Josefin Sans", serif;
    padding-top: 20px;
}

.custom-btn{
    font-family: "Josefin Sans", serif;

}
@media (max-width: 640px) { /* Tailwind's sm breakpoint */
    .search-autocomplete {
      height: 35px !important; /* Mobile height */
    }
  }
  
  @media (min-width: 641px) { /* Above mobile view */
    .search-autocomplete {
      height: 50px !important; /* Desktop height */
    }
  }

  @layer utilities {
    .no-arrows::-webkit-inner-spin-button,
    .no-arrows::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    .no-arrows {
      -moz-appearance: textfield; /* For Firefox */
    }
  }